# REAP: Rice Efficacy Across Philippines: A Data-Driven Cross-Dataset Analysis with India

### Project Objectives
This project entails a comparative analysis between the agricultural practices of India and the Philippines, with a specific focus on rice cultivation. Python will be employed for data analytics, aiming to provide meaningful insights into the similarities and differences between these two methods. The project seeks to identify key factors contributing to the effectiveness of these practices, while highlighting areas for potential improvement.

### Walkthrough

#### Datasets Acquisition
In this section, we will provide an overview of the datasets included in our study.

    1. Rice and Production Datasets
    2. Climate and Weather Datasets
    3. Soil Characteristics Datasets
    4. Agricultural Practices Datasets
    5. Socioeconomic and Demographic Datasets
    6. Policy and Trade Datasets

In [5]:
import numpy as np
import pandas as pd
import os

In [10]:
check_indProd = pd.read_csv('Datasets/ind_AgriculturalPracticesDatasets_verified.csv')
check_indProd.head(5)

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Kharif,2439.6,3415.0,1.40
1,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Rabi,1626.4,2277.0,1.40
2,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Autumn,4147.0,3060.0,0.74
3,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Summer,4147.0,2660.0,0.64
4,Andaman and Nicobar Island,NICOBARS,Arecanut,2009,Autumn,4153.0,3120.0,0.75

In [62]:
# Drop the rows that does not contain the word "Rice"
new_indProd = check_indProd.dropna(subset=['Crop'])
new_indProd = check_indProd[check_indProd['Crop'].str.contains('Rice')]

new_indProd.head()

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
468,Andaman and Nicobar Island,NICOBARS,Rice,2007,Kharif,7333.75,21864.0,2.98
469,Andaman and Nicobar Island,NICOBARS,Rice,2008,Autumn,7900.00,14730.0,1.86
470,Andaman and Nicobar Island,NICOBARS,Rice,2009,Autumn,8140.00,16600.0,2.04
471,Andaman and Nicobar Island,NICOBARS,Rice,2000,Kharif,102.00,321.0,3.15
472,Andaman and Nicobar Island,NICOBARS,Rice,2001,Kharif,83.00,300.0,3.61

In [71]:
check_phiProd = pd.read_csv('Datasets/phi_AgriculturalPracticesDatasets_verified.csv')
check_phiProd.head(5)

,Geolocation,1987 Annual,1988 Annual,1989 Annual,1990 Annual,1991 Annual,1992 Annual,1993 Annual,1994 Annual,1995 Annual,...,2014 Annual,2015 Annual,2016 Annual,2017 Annual,2018 Annual,2019 Annual,2020 Annual,2021 Annual,2022 Annual,2023 Annual
0,PHILIPPINES,8539852,8971030,9458772,9319276,9673262,9128940,9434208,10538054,10540649,...,18967826.17,18149837.78,17627244.82,19276346.63,19066093.94,18814827.29,19294855.51,19960170.20,19756392.28,..
1,..CORDILLERA ADMINISTRATIVE REGION (CAR),162466,186443,163249,165585,152559,156472,166961,191208,193221,...,452609.00,400911.00,382848.00,445006.00,391104.60,418320.58,376473.48,377133.35,338067.44,..
2,....Abra,23085,31157,27509,25637,24109,20483,23871,24340,29309,...,75500.00,66716.00,65159.00,69477.00,62120.00,82429.69,83667.10,90434.39,76921.00,..
3,....Apayao,..,..,..,..,..,..,..,28592,27974,...,101158.00,96453.00,86430.00,103335.00,76345.86,86818.58,96869.76,82468.92,74379.84,..
4,....Benguet,5303,5999,6562,5964,5224,7555,9214,9926,8560,...,17355.00,18144.00,18145.00,20276.00,19917.68,20447.93,21707.29,23667.00,23410.77,..